S3method(noaa_plot,noaa_data)
export(is.noaa_data)
export(noaa)
export(noaa_datacats)
export(noaa_datasets)
export(noaa_datatypes)
export(noaa_loc_search)
export(noaa_loc_types)
export(noaa_locs)
export(noaa_plot)
export(noaa_plot.noaa_data)
export(noaa_seaice)
export(noaa_search)
export(noaa_stations)
export(noaa_theme)
export(readshpfile)
export(seaiceeurls)
export(theme_ice)
import(ggplot2)
import(httr)
import(lubridate)
import(maptools)
import(rgdal)
import(stringr)
importFrom(plyr,compact)
importFrom(plyr,rbind.fill)
importFrom(plyr,round_any)
importFrom(scales,date_breaks)
importFrom(scales,date_format)
