http_interactions:
- request:
    method: get
    uri: https://dods.ndbc.noaa.gov/thredds/catalog/data/stdmet/catalog.html
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: text/html;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'\n        'http://www.w3.org/TR/html4/loose.dtd'>\n<html>\n<head>\r\n<meta
        http-equiv='Content-Type' content='text/html; charset=UTF-8'><title>Catalog
        https://dods.ndbc.noaa.gov/thredds/catalog/data/stdmet/catalog.html</title>\r\n<link
        rel='stylesheet' href='/thredds/tdsCat.css' type='text/css' >\n</head>\r\n<body><h1><img
        src='/thredds/threddsIcon.gif' alt='NDBC THREDDS Server' align='left' valign='top'>\nCatalog
        https://dods.ndbc.noaa.gov/thredds/catalog/data/stdmet/catalog.html</h1><HR
        size='1' noshade='noshade'><table width='100%' cellspacing='0' cellpadding='5'
        align='center'>\r\n<tr>\r\n<th align='left'><font size='+1'>Dataset</font></th>\r\n<th
        align='center'><font size='+1'>Size</font></th>\r\n<th align='right'><font
        size='+1'>Last Modified</font></th>\r\n</tr><tr>\r\n<td align='left'>&nbsp;&nbsp;&nbsp;&nbsp;\r\n<img
        src='/thredds/folder.gif' alt='Folder'> &nbsp;<a href='catalog.html?dataset=data/stdmet'><tt>stdmet</tt></a></td>\r\n<td
        align='right'><tt>&nbsp;</tt></td>\r\n<td align='right'><tt>--</tt></td>\r\n</tr>\r\n<tr
        bgcolor='#eeeeee'>\r\n<td align='left'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\r\n<img
        src='/thredds/folder.gif' alt='Folder'> &nbsp;<a href='0y2w3/catalog.html'><tt>0y2w3/</tt></a></td>\r\n<td
        align='right'><tt>&nbsp;</tt></td>\r\n<td align='right'><tt>--</tt></td>\r\n</tr>\r\n<tr>\r\n<td
        align='left'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\r\n<img src='/thredds/folder.gif'
        alt='Folder'> &nbsp;<a href='13001/catalog.html'><tt>13001/</tt></a></td>\r\n<td
        align='right'><tt>&nbsp;</tt></td>\r\n<td align='right'><tt>--</tt></td>\r\n</tr>\r\n<tr
        bgcolor='#eeeeee'>\r\n<td align='left'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\r\n<img
        src='/thredds/folder.gif' alt='Folder'> &nbsp;<a href='13002/catalog.html'><tt>13002/</tt></a></td>\r\n<td
        align='right'><tt>&nbsp;</tt></td>\r\n<td align='right'><tt>-[...]
- request:
    method: get
    uri: https://dods.ndbc.noaa.gov/thredds/catalog/data/stdmet/wplf1/catalog.html
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: text/html;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//[...]
- request:
    method: get
    uri: https://dods.ndbc.noaa.gov/thredds/fileServer/data/stdmet/wplf1/wplf1h2009.nc
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-disposition: attachment; filename="wplf1h2009.nc"
      content-type: application/x-netcdf
    body:
      encoding: UTF-8
      file: yes
      string: ../files/wplf1h2009.nc
  recorded_at: 2020-03-16 22:32:52 GMT
  recorded_with: vcr/0.5.0.92, webmockr/0.6.0.92
