http_interactions:
- request:
    method: get
    uri: https://tidesandcurrents.noaa.gov/api/datagetter?begin_date=20140927&end_date=20140928&station=8723970&product=water_temperature&units=metric&time_zone=gmt&application=rnoaa&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        {"metadata":{"id":"8723970","name":"Vaca Key, Florida Bay","lat":"24.7110","lon":"-81.1065"}, "data": [{"t":"2014-09-27 00:00", "v":"30.1", "f":"0,0,0"},{"t":"2014-09-27 00:06", "v":"30.1", "f":"0,0,0"},{"t":"2014-09-27 00:12", "v":"30.1", "f":"0,0,0"},{"t":"2014-09-27 00:18", "v":"30.1", "f":"0,0,0"},{"t":"2014-09-27 00:24", "v":"30.1", "f":"0,0,0"},{"t":"2014-09-27 00:30", "v":"30.1", "f":"0,0,0"},{"t":"2014-09-27 00:36", "v":"30.1", "f":"0,0,0"},{"t":"2014-09-27 00:42", "v":"30.1", "f":"0,0,0"},{"t":"2014-09-27 00:48", "v":"30.1", "f":"0,0,0"},{"t":"2014-09-27 00:54", "v":"30.1", "f":"0,0,0"[...]
