http_interactions:
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/homr/services/station/search?qid=COOP%3A046742&headersOnly=false&definitions=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"stationCollection":{"stations":[{"ncdcStnId":"20002078","header":{"preferredName":"PASO
        ROBLES MUNICIPAL AP, CA","latitude_dec":"35.6697","longitude_dec":"-120.6283","precision":"DDddddd","por":{"beginDate":"1949-10-05T00:00:00.000","endDate":"Present"}},"names":[{"name":"PASO
        ROBLES MUNICIPAL AP","nameType":"COOP"},{"name":"PASO ROBLES MUNICIPAL AP","nameType":"PRINCIPAL"},{"name":"PASO
        ROBLES MUNICIPAL ARPT","nameType":"PUB"}],"identifiers":[{"idType":"GHCND","id":"USW00093209"},{"idType":"GHCNMLT","id":"USW00093209"},{"idType":"COOP","id":"046742"},{"idType":"WBAN","id":"93209"},{"idType":"FAA","id":"PRB"},{"idType":"ICAO","id":"KPRB"},{"idType":"NWSLI","id":"PRB"},{"idType":"NCDCSTNID","id":"20002078"}],"location":{"ncdcstnId":"20002078","descriptions":[{"description":"PASO
        ROBLES MUNICIPAL AIRPORT OUTSIDE AND 5 MILES NE OF PO AT PASO ROBLES CA"}],"latitudes":[{"latitude_dec":"35.6697","precision":"DDddddd"}],"longitudes":[{"longitude_dec":"-120.6283","precision":"DDddddd"}],"latLonPairs":[{"latitude_rptd":"35.6697","longitude_rptd":"-120.6283","latitude_dec":"35.6697","longitude_dec":"-120.6283","latitude_dms":"35,40,11,N","longitude_dms":"120,37,42,W","precision":"DDddddd","datum_horiz":"NAD83","source":"ASOS
        SITE SURVEY"}],"elevations":[{"elevationType":"GROUND","elevationFeet":"810","elevationMeters":"246.9","groundElevDatum":"NAVD88"},{"elevationType":"AIRPORT","elevationFeet":"836","elevationMeters":"254.8"},{"elevationType":"BAROMETRIC","elevationFeet":"806","elevationMeters":"245.7"}],"topography":[{"description":"LEVEL
        VALLEY LOCATION (S-N)"}],"obstructions":[{"description":"HYGR 090\/04 NO OBSTRUCTIONS"}],"geoInfo":{"ncdcstnId":"20002078","countries":[{"country":"UNITED
        STATES"}],"stateProvinces":[{"stateProvince":"CA"}],"counties":[{"county":"SAN
        LUIS OBISPO"}],"utcOffsets":[{"utcOffset":"-8"}]},"nwsInfo":{"ncdcstnId":"20002078","climateDivisions":[{"stateProvince":"CA","climateDivision":"04","displayName":"CENTRAL
        COAST DRAINAGE"}],"nwsRegions":[{"nwsRegion":"WESTERN"}],"nwsWfos":[{"nwsWfo":"LOX","displayName":"LOS
        ANGELES, CA"}]}},"platforms":[{"platform":"COOP"},{"platform":"ASOS"}],"relocations":[{"relocation":"5.1
        mi NNE","date":"1949-10-05T00:00:00.000"}],"remarks":[{"type":"NWS COOP INGEST","remark":"ASOS
        COMMISSIONED 01\/18\/2001"},{"type":"NWS COOP INGEST","remark":"THREE YEAR
        UPDATE."},{"type":"NWS COOP INGEST","remark":"REQUIRED 5 YEAR UPDATE\r\nASOS
        COMMISSIONED 01\/18\/2001\r\nSERVICE LEVEL \"D\" ASOS MAINTAINED BY LOX NWS
        ETS"},{"type":"GENERAL","remark":"PHOTOS ADDED FOR ASOS EXPOSURE DOCUMENTATION
        EFFORT (CIRCA 1999+) WHICH TOOK PHOTOS OF THE AREA SURROUNDING COASTAL AND
        INLAND ASOS SITES IN AREAS SUBJECT TO HURRICANES. THE PHOTOS HELP DOCUMENT
        STATION EXPOSURE AND IDENTIFY OBSTACLES THAT COULD REDUCE THE WINDS AT THE
        SITE."},{"type":"RIVER BASIN (COOP NETWORK)","remark":"SALINAS"}],"updates":[{"effectiveDate":"2017-03-22T00:00:00.000","providedBy":"INGEST","updateSource":"SISv2","version":"8","nativeId":"COOP:04-6742:8","description":"CHANGE","enteredBy":"INGEST","enteredDate":"2017-04-28T01:50:13-04:00"}],"elements":[{"dataProgram":"COOP
        HPD","element":"PRECIP","frequency":"HOURLY","observationTime":"2400","publishedFlag":"HPD","receiver":"NCEI","reportingMethod":"ADP","equipment":{"equipment":"AHTB","equipmentMods":"RCRD;HTD","equipmentAzimuth":"000","equipmentDistance":"0","equipmentDistanceUnits":"ft"},"date":{"beginDate":"2017-03-22T00:00:00.000","endDate":"Present"}},{"dataProgram":"COOP
        SOD","element":"PRECIP","frequency":"DAILY","observationTime":"2400","publishedFlag":"CD","receiver":"NCEI","reportingMethod":"ADP","equipment":{"equipment":"AHTB","equipmentMods":"RCRD;HTD","equipmentAzimuth":"000","equipmentDistance":"0","equipmentDistanceUnits":"ft"},"date":{"beginDate":"2017-03-22T00:00:00.000","endDate":"Present"}},{"dataProgram":"COOP
        SOD","element":"TEMP","frequency":"DAILY","observationTime":"2400","publishedFlag":"CD","receiver":"NCEI","reportingMethod":"ADP","equipment":{"equipment":"HYGR","equipmentAzimuth":"090","equipmentDistance":"4","equipmentDistanceUnits":"ft"},"date":{"beginDate":"2017-03-22T00:00:00.000","endDate":"Present"}},{"dataProgram":"COOP
        SOD","element":"WIND","frequency":"HOURLY","observationTime":"UNKN","equipment":{"equipment":"ANEMSONIC"},"date":{"beginDate":"2017-03-22T00:00:00.000","endDate":"Present"}}]}]}}'
  recorded_at: 2018-12-01 19:49:43 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/homr/services/station/search?qid=TRANS%3A&headersOnly=true&definitions=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"stationCollection":{"stations":[{"ncdcStnId":"30106[...]
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/homr/services/station/search?qid=%3A046742&headersOnly=false&definitions=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"stationCollection":{"stations":[{"ncdcStnId":"200[...]
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/homr/services/station/search?qid=COOP%3A0467&qidMod=starts&headersOnly=false&definitions=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"stationCollection":{"stations":[{[...]
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/homr/services/station/search?state=DE&headersOnly=true&definitions=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"stationCollection":{"stations":[{"ncdcStnId":"30094670"[...]
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/homr/services/station/search?state=NC&county=BUNCOMBE&headersOnly=true&definitions=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"stationCollection":{"stations":[{"ncdcS[...]
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/homr/services/station/search?name=CLAYTON&headersOnly=false&definitions=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"stationCollection":{"stations":[{"ncdcStnId":"2000[...]
