http_interactions:
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/cdo-web/api/v2/locations?startdate=20100101&limit=25&datasetid=NORMAL_DLY
    body:
      encoding: ''
      string: ''
    headers:
      token: <<ncdc_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"metadata":{"resultset":{"offset":1,"count":13532,"limit":25}},"results":[{"mindate":"2010-01-01","maxdate":"2010-12-31","name":"Vancouver,
        CA","datacoverage":1,"id":"CITY:CA000012"},{"mindate":"2010-01-01","maxdate":"2010-12-31","name":"Mexicali,
        MX","datacoverage":1,"id":"CITY:MX000019"},{"mindate":"2010-01-01","maxdate":"2010-12-31","name":"Mayaguez,
        RQ","datacoverage":1,"id":"CITY:RQ000001"},{"mindate":"2010-01-01","maxdate":"2010-12-31","name":"Ponce,
        RQ","datacoverage":1,"id":"CITY:RQ000002"},{"mindate":"2010-01-01","maxdate":"2010-12-31","name":"San
        Juan, RQ","datacoverage":1,"id":"CITY:RQ000003"},{"mindate":"2010-01-01[...]
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/cdo-web/api/v2/locations?limit=52&locationcategoryid=ST
    body:
      encoding: ''
      string: ''
    headers:
      token: <<ncdc_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"metadata":{"resultset":{"offse[...]
