http_interactions:
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=NORMAL_DLY&startdate=2010-05-01&enddate=2010-05-10&limit=25&includemetadata=TRUE&datatypeid=dly-tmax-normal
    body:
      encoding: ''
      string: ''
    headers:
      token: <<ncdc_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"metadata":{"resultset":{"offset":1,"count":75010,"limit":25}},"results":[{"date":"2010-05-01T00:00:00","datatype":"DLY-TMAX-NORMAL","station":"GHCND:AQW00061705","attributes":"C","value":869},{"date":"2010-05-01T00:00:00","datatype":"DLY-TMAX-NORMAL","station":"GHCND:CAW00064757","attributes":"Q","value":607},{"date":"2010-05-01T00:00:00","datatype":"DLY-TMAX-NORMAL","station":"GHCND:CQC00914080","attributes":"R","value":840},{"date":"2010-05-01T00:00:00","datatype":"DLY-TMAX-NORMAL","station":"GHCND:CQC00914801","attributes":"R","value":858},{"date":"2010-05-01T00:00:00","datatype":"DLY-TMAX-NORMAL","station":"GHCND:FMC00914395","attributes":"P","value":876},{"date":"2010-05-01[...]
[...]
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GSOM&startdate=2013-10-01&enddate=2013-12-01&limit=25&includemetadata=TRUE&stationid=GHCND%3AAE000041196
    body:
      encoding: ''
      string: ''
    headers:
      token: <<ncdc_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"metadata":{"resultset":{"offset":1,"count":5,"limit":25}},"results":[{"date":"2013-12-01T00:00:00","datatype":"DX32","station":"GHCND:AE000041196","attributes":"4,S","value":0},{"date":"2013-12-01T00:00:00","datatype":"DX70","station":"GHCND:AE000041196","attributes":"4,S","value":26},{"date":"2013-12-01T00:00:00","datatype":"DX90","station":"GHCND:AE000041196","attributes":"4,S","value":0},{"date":"2013-12-01T00:00:00","datatype":"EMXT","station":"GHCND:AE000041196","attributes":"4,S,13,","value":31.8},{"date":"2013-12-01T00:00:00","datatype":"TMAX","station":"GHCND:AE000041196","attributes":"4,,,S","value":26.53}]}'
  recorded_at: 2018-12-02 05:21:05 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
[...]
