http_interactions:
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/cdo-web/api/v2/locationcategories?token=hzGfPCLWFGWdVSkjVIljzQVfkHvlNmeQ&limit=25
    body:
      encoding: ''
      string: ''
    headers:
      token: hzGfPCLWFGWdVSkjVIljzQVfkHvlNmeQ
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"metadata":{"resultset":{"offset":1,"count":12,"limit":25}},"results":[{"name":"City","id":"CITY"},{"name":"Climate
        Division","id":"CLIM_DIV"},{"name":"Climate Region","id":"CLIM_REG"},{"name":"Country","id":"CNTRY"},{"name":"County","id":"CNTY"},{"name":"Hydrologic
        Accounting Unit","id":"HYD_ACC"},{"name":"Hydrologic Cataloging Unit","id":"HYD_CAT"},{"name":"Hydrologic
        Region","id":"HYD_REG"},{"name":"Hydrologic Subregion","id":"HYD_SUB"},{"name":"State","id":"ST"},{"name":"US
        Territory","id":"US_TERR"},{"name":"Zip Code","id":"ZIP"}]}'
  recorded_at: 2018-12-01 19:58:36 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/cdo-web/api/v2/locationcategories/CLIM_REG?locationcategoryid=CLIM_REG&token=hzGfPCLWFGWdVSkjVIljzQVfkHvlNmeQ&limit=25
    body:
      encoding: ''
      string: ''
    headers:
      token: hzGfPCLWFGWdVSkjVIljzQVfkHvlNmeQ
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"Climate Region","id":"CLIM_REG"}'
  recorded_at: 2018-12-01 19:58:36 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/cdo-web/api/v2/locationcategories?startdate=1970-01-01&token=hzGfPCLWFGWdVSkjVIljzQVfkHvlNmeQ&limit=25
    body:
      encoding: ''
      string: ''
    headers:
      token: hzGfPCLWFGWdVSkjVIljzQVfkHvlNmeQ
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"metadata":{"resultset":{"offset":1,"count":12,"limit":25}},"results":[{"name":"City","id":"CITY"},{"name":"Climate
        Division","id":"CLIM_DIV"},{"name":"Climate Region","id":"CLIM_REG"},{"name":"Country","id":"CNTRY"},{"name":"County","id":"CNTY"},{"name":"Hydrologic
        Accounting Unit","id":"HYD_ACC"},{"name":"Hydrologic Cataloging Unit","id":"HYD_CAT"},{"name":"Hydrologic
        Region","id":"HYD_REG"},{"name":"Hydrologic Subregion","id":"HYD_SUB"},{"name":"State","id":"ST"},{"name":"US
        Territory","id":"US_TERR"},{"name":"Zip Code","id":"ZIP"}]}'
  recorded_at: 2018-12-01 19:58:36 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
