http_interactions:
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/cdo-web/api/v2/datatypes?limit=25&datasetid=ANNUAL
    body:
      encoding: ''
      string: ''
    headers:
      token: <<ncdc_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"metadata":{"resultset":{"offset":1,"count":594,"limit":25}},"results":[{"mindate":"1980-01-01","maxdate":"2015-11-01","name":"Cooling
        Degree Days","datacoverage":1,"id":"CLDD"},{"mindate":"1890-07-01","maxdate":"2015-11-01","name":"Number
        of days with greater than or equal to 0.1 inch of precipitation","datacoverage":1,"id":"DP01"},{"mindate":"1890-07-01","maxdate":"2015-11-01","name":"Number
        of days with greater than or equal to 0.5 inch of precipitation","datacoverage":1,"id":"DP05"},{"mindate":"1858-07-01","maxdate":"2015-11-01","name":"Number
        of days with greater than or equal to 1.0 inch of precipitation","datacoverage":1,"id":"DP10[...]
