http_interactions:
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/cdo-web/api/v2/stations/COOP:010008
    body:
      encoding: ''
      string: ''
    headers:
      token: <<ncdc_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"elevation":139,"mindate":"1948-01-01","maxdate":"2014-01-01","latitude":31.5702,"name":"ABBEVILLE,
        AL US","datacoverage":0.8813,"id":"COOP:010008","elevationUnit":"METERS","longitude":-85.2482}'
  recorded_at: 2018-12-02 05:22:24 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/cdo-web/api/v2/stations/GHCND:USW00014895?datasetid=NORMAL_DLY
    body:
      encoding: ''
      string: ''
    headers:
      token: <<ncdc_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"elevation":369.7,"mindate":"1948-07-01","maxdate":"2018-11-24","latitude":40.9181,"name":"AKRON
        CANTON AIRPORT, OH US","datacoverage":1,"id":"GHCND:USW00014895","elevationUnit":"METERS","longitude":-81.4435}'
  recorded_at: 2018-12-02 05:22:24 GMT
  recorded_with: vcr/0.2.0, webmockr/0.2.9
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/cdo-web/api/v2/stations?limit=25&datasetid=GHCND&locationid=FIPS%3A12017
    body:
      encoding: ''
      string: ''
    headers:
      token: <<ncdc_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"metadata":{"resultset":{"offset":1,"count":14,"limit":25}},"results":[{"elevation":36.9,"mindate":"2007-09-28","maxdate":"2012-10-24","latitude":28.8303,"name":"INVERNESS
        1.6 WSW, FL US","datacoverage":0.8905,"id":"GHCND:US1FLCT0002","elevationUnit":"METERS","longitude":-82.3688},{"elevation":14.9,"mindate":"2007-11-09","maxdate":"2012-05-06","latitude":29.0375,"name":"DUNNELLON
        3.6 WSW, FL US","datacoverage":0.7928,"id":"GHCND:US1FLCT0005","elevationUnit":"METERS","longitude":-82.5059},{"elevation":7.9,"mindate":"2007-10-01","maxdate":"2010-02-05[...]
