http_interactions:
- request:
    method: get
    uri: https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <html>
         <head>
          <title>Index of /pub/data/swdi/stormevents/csvfiles</title>
         </head>
         <body>
        <h1>Index of /pub/data/swdi/stormevents/csvfiles</h1>
        <table><tr><th><img src="/icons/blank.gif" alt="[ICO]"></th><th><a href="?C=N;O=D">Name</a></th><th><a href="?C=M;O=A">Last modified</a></th><th><a href="?C=S;O=A">Size</a></th><th><a href="?C=D;O=A">Description</a></th></tr><tr><th colspan="5"><hr></th></tr>
        <tr><td valign="top"><img src="/icons/back.gif" alt="[DIR]"></td><td><a href="/pub/data/swdi/stormevents/">Parent Directory</a></td><td>&nbsp;</td><td align="right">  - </td><td>&nbsp;</td></tr>
        <tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="Storm-Data-Export-Format.docx">Storm-Data-Export-Format.docx</a></td><td align="right">06-May-2014 21:49  </td><td align="right"> 23K</td><td>&nbsp;</td></tr>
        <tr><td valign="top"><img src="/icons/compressed.gif" alt[...]
- request:
    method: get
    uri: https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/legacy
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <html>
[...]
