http_interactions:
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/swdiws/xml/nx3tvs/20060505:20060506/25
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><swdiXmlResponse><!-- column header names[types]:  ZTIME[VARCHAR2] WSR_ID[VARCHAR2] CELL_ID[VARCHAR2] CELL_TYPE[VARCHAR2] RANGE[NUMBER] AZIMUTH[NUMBER] MAX_SHEAR[NUMBER] MXDV[NUMBER] SHAPE[MDSYS.SDO_GEOMETRY]  -->
        <result><ztime>2006-05-05T00:05:50Z</ztime><wsr_id>KBMX</wsr_id><cell_id>Q0</cell_id><cell_type>TVS</cell_type><range>7</range><azimuth>217</azimuth><max_shear>403</max_shear><mxdv>116</mxdv><shape>POINT (-86.8535716274277 33.0786326913943)</shape></result>
        <result><ztime>2006-05-05T00:10:02Z</ztime><wsr_id>KBMX</wsr_id><cell_id>Q0</cell_id><cell_type>TVS</cell_type><range>5</range><azimuth>208</azimuth><max_shear>421</max_shear><mxdv>120</mxdv><shape>POINT (-86.8165772540846 33.0982820681588)</shape></result>
        <result><ztime>2006-05-05T00:12:34Z</ztime><wsr_id>KSJT</wsr_id><cell_id>P2</cell_id><cell_type>TVS</cell_type><range>49</range><azimuth>106</azimuth><max_shear>17</m[...]
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/swdiws/xml/nx3meso/20060505:20060506/25
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><swdiXmlResponse><!-- column header names[types]:  ZTIME[VARCHAR2] WSR_ID[VARCHAR2] CELL_ID[VARCHAR2] CELL_TYPE[VARCHAR2] RANGE[NUMBER] AZIMUTH[NUMBER] BASE_HEIGHT[NUMBER] TOP_HEIGHT[NUMBER] HEIGHT[NUMBER] RADIAL_DIAM[NUMBER] AZ_DIAM[NUMBER] SHEAR[NUMBER] SHAPE[MDSYS.SDO_GEOMETRY]  -->
        <result><ztime>2006-05-05T00:00:45Z</ztime><wsr_id>KLBB</wsr_id><cell_id>P0</cell_id><cell_type>MESO</cell_type><range>122</range><azimuth>165</azimuth><base_height>16.5</base_height><top_height>21.5</top_height><height>16.5</height><radial_diam>1.9</radial_diam><az_diam>4.2</az_diam><shear>9</shear><shape>POINT (-101.197496803559 31.6843740429353)</shape></result>
        <result><ztime>2006-05-05T00:00:45Z</ztime><wsr_id>KLBB</wsr_id><cell_id>G0</cell_id><cell_type>UNC SHR</cell_type><range>53</range><azimuth>226</azimuth><base_height>15</base_height><top_height>15</top_height><height>15</height><radial_diam>2</radial_diam><az_diam>3.7</az_diam><shear>7</shear><shape>POINT (-102.569931348078 33.0369811650688)</shape></result>
        <result><ztime>2006-05-05T00:00:45Z</ztime><ws[...]
- request:
    method: get
    uri: https://www.ncdc.noaa.gov/swdiws/xml/warn/20060505:20060506/25
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><swdiXmlResponse><!-- column header names[types]:  ZTIME_START[VARCHAR2] ZTIME_END[VARCHAR2] ID[VARCHAR2] WARNINGTYPE[VARCHAR2] ISSUEWFO[VARCHAR2] MESSAGEID[VARCHAR2] SHAPE[MDSYS.SDO_GEOMETRY]  -->
        <result><ztime_start>2006-05-04T11:57:00Z</ztime_start><ztime_end>2006-05-05T05:45:00Z</ztime_end><id>397088</id><warningtype>FLASH FLOOD</warningtype><issuewfo>KSGF</issuewfo><messageid>041157</messageid><shape>POLYGON ((-95.02 37.64, -95.02 37.02, -94.57 37.03, -94.59 36.52, -94.1 36.51, -94.12 37.62, -95.02 37.64))</shape></result>
        <result><ztime_start>2006-05-04T22:50:00Z</ztime_start><ztime_end>2006-05-05T00:15:00Z</ztime_end><id>397156</id><warningtype>SPECIAL MARINE</warningtype><issuewfo>KLIX</issuewfo><messageid>042251</messageid><shape>POLYGON ((-90.06 29.34, -89.8 29.15, -89.55 29.26, -89.61 29.27, -89.6 29.35, -89.67 29.31, -89.77 29.33, -89.75 29.41, -89.81 [...]
